body {
    font-family: 'Roboto', sans-serif;
    background-image: url('assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }
  
  .navbar {
    font-size: 1.2rem;
  }